:root{
    --flag-width: 30px;
    --flag-height: calc(var(--flag-width) / 3 * 2);
    --flag-vmargin: 5px;
    --text-hmargin: 5px;
}

.chooseMode {
    display: inline-block;
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    z-index: 20;
    height: var(--flag-height);
    margin-top: 0;
    width: var(--flag-height);
}
.chooseMode div {
    height: var(--flag-height);
    position: absolute;
    width: var(--flag-height);
}
.mode {
    cursor: pointer;
    display: block;
    height: var(--flag-height);
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    -webklight-transition: 0.76s;
    -o-transition: 0.76s;
    transition: 0.76s;
    width: var(--flag-height);
    background-size: contain;
    background-position: center center;
    border-radius: calc(var(--flag-height)/2);
}

.light-mode {
    background-image: url('../img/flags/ita.svg');
}
.open .light-mode {
    left: 0;
    top: 0;
    opacity: 1;
}

.dark-mode {
    background-image: url('../img/flags/uk.svg');
}
.open .dark-mode {
    left: 0;
    top: calc(var(--flag-height) + var(--flag-vmargin));
    opacity: 1;
}

.light-mode, .dark-mode {
    transform: translateX(calc(var(--flag-width) + var(--text-hmargin)));
}

.light-mode::after, .dark-mode::after {
    font-size: 18px;
    line-height: var(--flag-height);
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color: var(--dark-grey);
    transform: translateX(- calc(var(--flag-width) - var(--text-hmargin)));
}

.light-mode::after {
    content: 'Light';
}

.dark-mode::after {
    content: 'Dark';
}

.chooseMode .chosen {
    opacity: 1;
    z-index: 1;
}

.mode-disable {
    display: none;
    visibility: hidden;
}
