content-wrapper {
    position: relative;
    display: grid;
    height: fit-content;
    width: 80%;
    z-index: 0;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    left: 0;
    overflow: hidden;
    align-items: center;
    padding: 0;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

content-wrapper picture img, content-wrapper container {
    grid-row: 1;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 0;
}

content-wrapper picture img {
    height: auto;
}

content-wrapper:nth-of-type(odd) picture img, content-wrapper:nth-of-type(even) container {
    grid-column: 1;
    text-align: right;
}

content-wrapper:nth-of-type(even) picture img, content-wrapper:nth-of-type(odd) container {
    grid-column: 2;
    text-align: left;
}

.full-width {
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
    width: 210%;
    height: 90vh;
}

.content-title {
    text-transform: uppercase;
    color: lighten(var(--light-grey), 20%);
    font-family: 'Open Sans', sans-serif;
    width: 65%;
    margin: auto;
    text-align: center;
    font-size: 6vmin;
    padding: 0;
    padding-top: 12vh;
    border-bottom: var(--light-grey) solid;
}

content-wrapper container name,
content-wrapper container center-name,
content-wrapper container tagline,
content-wrapper container center-tagline,
content-wrapper container ctext,
content-wrapper container a {
    display: inline-block;
    width: 100%;
}

content-wrapper container center-name,
content-wrapper container name {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2.2vmin;
    color: var(--light-orange);
    padding: 0;
}

content-wrapper container center-name {
    text-align: center;
    font-size: 6vmin;
}

content-wrapper container tagline,
content-wrapper container center-tagline {
    font-family: 'Open Sans', sans-serif;
    font-size: 4vmin;
    color: white;
    padding: 0;
    padding-top: 3.5vmin;
    padding-bottom: 3.5vmin;
}

content-wrapper container center-tagline {
    text-align: center;
}

content-wrapper container ctext,
content-wrapper container a {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vmin;
    color: inherit;
    // white-space: pre-line;
}

content-wrapper container a {
    padding: 0;
    padding-top: 4vmin;
    color: var(--lighter-grey);
}

feature-grid {
    position: relative;
    display: grid;
    grid-gap: 2vh;
    grid-row-gap: 2vh;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: 'Open Sans', sans-serif;
}

feature {
    // display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    text-align: center;
}

feature picture img {
    position: relative;
    display: inline-block;
    height: 20vmax;
    width: auto;
    padding: 0;
    padding-bottom: 1vmin;
    transform: translate3d(0,0,0);
    transition: transform .3s ease-in-out, filter .3s ease-in-out;
    -webkit-filter: none;
    filter: none;
}

feature:hover picture img {
    transform: translate3d(0,-6px,0) scale(1.02);
    -webkit-filter: drop-shadow(0 12px 12px var(--dark-grey));
    filter: drop-shadow(0 12px 12px var(--dark-grey));
}

feature .name, feature .description {
    position: relative;
    display: inline-block;
    width: 95%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 4vh;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    transition: color .3s ease-in-out;
}

feature .description {
    font-size: 2.5vh;
}

feature:hover .name {
    color: var(--dark-orange);
}

.invest-icon a{
    width: fit-content;
}

.invest-icon img{
    height: 35vh;
    padding-left: 1vw;
    padding-right: 1vw;
    transform: translate3d(0,0,0) scale(1);
    transition: transform .3s ease-in-out, filter .3s ease-in-out;
}

.invest-icon img:hover{
    cursor: pointer;
    transform: translate3d(0,-6px,0) scale(1.02);
    -webkit-filter: drop-shadow(0 12px 12px var(--dark-orange));
    filter: drop-shadow(0 12px 12px var(--dark-orange));
}