html {
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-grey);
    // z-index: 0;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.index {
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

page-container {
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: fit-content;
    background-color: white;
    z-index: 1;
}

head-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    z-index: 12;
}

map-container {
    position: absolute;
    top: 0;
    left: calc(var(--logo-container-width) / 2);
    height: 100%;
    width: calc(100% - var(--logo-container-width) / 2);
}

map {
    position: absolute;
    top: -5%;
    left: 0;
    height: 110%;
    width: 100%;
    pointer-events: none;
    animation: zoomslow 200s ease-in-out infinite;
}

map::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark-grey);
    opacity: .1;
}

map-shadow {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: inset 0 10px 15px 5px var(--dark-grey); 
    box-shadow: inset 0 10px 15px 5px var(--dark-grey);
    opacity: .5;
    // z-index: 2;
}

@keyframes zoomslow {
    0% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    50% {
        -moz-transform: scale(1.7) rotate(4deg);
        -webkit-transform: scale(1.7) rotate(4deg);
        transform: scale(1.7) rotate(4deg);
    }
}

sidebar, shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0 0 8px 0;
}

sidebar {
    background-color: var(--dark-grey);
}

shadow {
    width: 35%;
    z-index: 12;
    -webkit-box-shadow: 5px 0 15px 5px var(--dark-grey); 
    box-shadow: 5px 0 15px 5px var(--dark-grey);
}

logo-container {
    position: absolute;
    display: inline-block;
    width: var(--logo-container-width);
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
    text-shadow: 0px 0px 8px var(--dark-grey), 0px 0px 8px var(--dark-grey), 0px 0px 8px var(--dark-grey);
}

logo-container logo {
    position: relative;
    display: inline-block;
    height: var(--logo-height);
    width: 100%;
    background-image: url('../img/logos/dark.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    -webkit-filter: drop-shadow(2px 0px 12px var(--dark-grey));
    filter: drop-shadow(2px 0px 12px var(--dark-grey));
}

logo-container info {
    position: relative;
    display: inline-block;
    left: 0;
    width: 100%;
}

@media (orientation: portrait), only screen and (pointer: coarse) {
    map-container {
        left: 0;
        width: 100%;
        opacity: .3;
    }

    head-container {
        width: 100%;
        height: 70%;
        top: -7%;
        z-index: 20;
    }

    sidebar, shadow {
        visibility: hidden;
    }

    logo-container {
        width: 100%;
    }
}

.title, .subtitle{
    font-family: 'herolight', sans-serif;
    text-align: center;
}

.title {
    font-size: 9vh;
    color: var(--dark-orange);
    line-height: 7vh;
    padding: 0;
    padding-top: 2vh;
}

.subtitle-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
}

.subtitle {
    display: table;
    font-size: 2.5vh;
    color: var(--lighter-grey);
    letter-spacing: 10px;
    width: 100%;
}

.right, .left {
    display: table-cell;
    width: 50%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
    padding-left: calc(70vmin * 0.7 / 8 / 4 / 3);
    font-family: 'heroregular', sans-serif;
}

.abstract-wrapper {
    position: relative;
    top: 0;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform: translateX(-50%);
}

.abstract {
    font-family: 'Muli', sans-serif;
    color: white;
    white-space: pre-line;
    font-size: 2.3vh;
}

.abstract .tagline {
    color: var(--light-orange);
    padding-top: 2%;
}

@media (orientation: portrait), only screen and (pointer: coarse) {
    .abstract-wrapper {
        width: 90%;
        left: 0;
        margin-left: 5%;
        margin-right: 5%;
        transform: none;
        text-align: center;
    }

    .abstract {
        font-size: 1.5vh;
    }
}

.footer {
    color: var(--light-grey);
    z-index: 10;
    padding-top: 3vh;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1vh;
    font-family: 'Muli', sans-serif;
    padding-bottom: .5vh;
}