@import "fonts.scss";
@import "colors.scss";
@import "variables.scss";
@import "waves.scss";

html {
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: var(--light-grey);
    z-index: 0;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    margin: 0;
}

head-container {
    position: absolute;
    top: 0;
    left: 0;
    // background-color: var(--dark-grey);
    width: 70%;
    height: 100%;
    z-index: 2;
}

map-container {
    position: absolute;
    top: 0;
    left: calc(var(--logo-container-width) / 2);
    height: 100%;
    width: calc(100% - var(--logo-container-width) / 2);
}

map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    animation: zoomslow 200s ease-in-out infinite;
}

map::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark-grey);
    opacity: .1;
}

map-shadow {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: inset 0 10px 15px 5px var(--dark-grey); 
    box-shadow: inset 0 10px 15px 5px var(--dark-grey);
    opacity: .5;
    // z-index: 2;
}

@keyframes zoomslow {
    0% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    50% {
        -moz-transform: scale(1.4) rotate(4deg);
        -webkit-transform: scale(1.4) rotate(4deg);
        transform: scale(1.4) rotate(4deg);
    }
}

sidebar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-grey);
    width: 50%;
    height: 100%;
    -webkit-box-shadow: 5px 1px 15px 5px var(--dark-grey); 
    box-shadow: 5px 1px 15px 5px var(--dark-grey);
}

logo-container {
    position: absolute;
    display: inline-block;
    width: var(--logo-container-width);
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
    text-shadow: 0px 0px 8px var(--dark-grey), 0px 0px 8px var(--dark-grey), 0px 0px 8px var(--dark-grey);
}

logo-container logo {
    position: relative;
    display: inline-block;
    height: var(--logo-height);
    width: 100%;
    background-image: url('../img/logos/dark.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    -webkit-filter: drop-shadow(2px 0px 12px var(--dark-grey));
    filter: drop-shadow(2px 0px 12px var(--dark-grey));
}

logo-container info {
    position: relative;
    display: inline-block;
    left: 0;
    width: 100%;
}

.title, .subtitle{
    font-family: 'herolight', sans-serif;
    text-align: center;
}

.title {
    font-size: 9vh;
    color: var(--dark-orange);
    line-height: 7vh;
    padding: 0;
    padding-top: 2vh;
}

.subtitle-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
}

.subtitle {
    display: table;
    font-size: 2.5vh;
    color: var(--lighter-grey);
    letter-spacing: 10px;
    width: 100%;
}

.right, .left {
    display: table-cell;
    width: 50%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
    padding-left: calc(70vmin * 0.7 / 8 / 4 / 3);
    font-family: 'heroregular', sans-serif;
}

.abstract-wrapper {
    position: relative;
    top: 0;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform: translateX(-50%);
}

.abstract {
    font-family: 'Muli', sans-serif;
    color: white;
    white-space: pre-line;
    font-size: 2vh;
}

.abstract .tagline {
    color: var(--light-orange);
    padding-top: 2%;
}

menu {
    position: absolute;
    display: table;
    top: 0;
    right: 5%;
    width: fit-content;
    z-index: 10;
}

menu .item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: 'herobold', sans-serif;
    font-size: 2vh;
    color: white;
    text-transform: uppercase;
    text-overflow: clip;
    width: 10vw;
    padding: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    text-shadow: 0px 0px 12px var(--dark-grey), 0px 0px 6px var(--dark-grey), 0px 0px 6px var(--dark-grey);
    -webkit-text-stroke-width: 0.05vh;
    -webkit-text-stroke-color: var(--dark-grey);
    -webkit-text-fill-color: white;
    transition: color .2s ease-in-out, -webkit-text-fill-color .2s ease-in-out;
}

menu .item:hover {
    color: var(--light-orange);
    -webkit-text-fill-color: var(--light-orange);
    cursor: pointer;
}

@mixin placeholder {
    &::-webkit-input-placeholder { @content }
    &:-moz-placeholder { @content }
    &::-moz-placeholder { @content }
    &:-ms-input-placeholder { @content }
}

form-container {
    position: absolute;
    top: 50%;
    right: 0;
    width: 25%;
    height: fit-content;
    background-color: white;
    transform: translate3d(-25%, -50%, 0);
    // z-index: 10;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 20px 0 var(--dark-grey); 
    box-shadow: 0 0 20px 0 var(--dark-grey);
}

.form-title, .form-description, .form-disclaimer {
    max-width: 80%;
    width: max-content;
    margin: auto;
    position: relative;
    font-family: 'Muli', sans-serif;
}

.form-title {
    font-weight: bold;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 2vh;
    text-align: center;
}

.form-description {
    text-align: left;
}

.form-disclaimer {
    text-align: center;
    font-size: 1vh;
    color: var(--lighter-grey);
    transform: translateY(-150%);
}

form {
    position: relative;
    margin-top: 6vh;
    margin-bottom: 0;
    left: 5%;
    width: 90%;
    height: 80px;
    font-family: 'Muli', sans-serif;
    transform: translate3d(0, -50%, 0);
    background: var(--dark-grey);
    border-radius: 4px;
}
  
  input {
    @include placeholder {
      color: #fff;
      text-transform: capitalize;
      padding-left: 5%;
    }
    padding: 5%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border: 0;
    border-radius: 4px;
    outline: 0;
    background-color: transparent;
    // padding: 2em 1em 1em 1em;
    color: var(--dark-grey);
    font-size: 2vh;
    transition: background 0.35s ease-out, padding-top 0.35s ease-out, color 0.35s ease-out;
    font-family: 'Muli', sans-serif;
}

input:focus {
    background: var(--light-grey);
    // padding-top: 10%;
    color: white;
}

input:focus + label {
    transform: translateY(-135%) scale(0.8);
    color: whitesmoke;
}
  
label {
    position: absolute;
    left: 1em;
    top: 50%;
    margin-top: -8px;
    color: #fff;
    text-transform: capitalize;
    transform-origin: left center;
    transition: transform 0.25s ease-out, color 0.25s ease-out;
}
  
button {
    position: absolute;
    right: 0;
    padding: 0;
    width: 100px;
    height: 100%;
    border: 0;
    border-radius: 0 4px 4px 0;
    font-size: 1em;
    background-color: var(--light-orange);
    color: var(--dark-grey);
    cursor: pointer;
    opacity: 0;
    outline: none;
    z-index: 10;
    transition: opacity 0.35s ease-out, width 0.5s ease-out, background 0.25s ease-out, border-radius 0.25s ease-out;
}

input:focus + label + button {
    opacity: 1;
}
  
button.is-active {
    background: var(--light-orange);
    color: var(--dark-grey);
}
  
button.is-done {
    border-radius: 4px;
    width: 100%;
    opacity: 1;
}