menu {
    position: absolute;
    display: table;
    top: 10px;
    right: 130px;
    width: fit-content;
    height: 18px;
    z-index: 200;
    padding: 0;
    margin: 0;
}

@media (orientation: portrait), only screen and (pointer: coarse) {
    menu {
        display: none;
    }
}

menu .item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-overflow: clip;
    width: auto;
    padding: 0;
    padding-left: 2vw;
    text-shadow: 0px 0px 12px var(--dark-grey), 0px 0px 6px var(--dark-grey), 0px 0px 6px var(--dark-grey);
    transition: color .2s ease-in-out, -webkit-text-fill-color .2s ease-in-out;
}

menu .item:last-of-type {
    padding-right: 0 !important;
}

menu .item:hover {
    color: var(--light-orange);
    -webkit-text-fill-color: var(--light-orange);
    cursor: pointer;
}

menu a {
    text-decoration: none;
}