menu {
    position: absolute;
    display: table;
    top: 2%;
    right: 0;
    width: fit-content;
    z-index: 200;
}

@media (orientation: portrait), only screen and (hover: none) and (pointer: coarse) {
    menu {
        display: none;
    }
}

menu .item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: 'herobold', sans-serif;
    font-size: 2vh;
    color: white;
    text-transform: uppercase;
    text-overflow: clip;
    width: 10vw;
    padding: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    text-shadow: 0px 0px 12px var(--dark-grey), 0px 0px 6px var(--dark-grey), 0px 0px 6px var(--dark-grey);
    -webkit-text-stroke-width: 0.05vh;
    -webkit-text-stroke-color: var(--dark-grey);
    -webkit-text-fill-color: white;
    transition: color .2s ease-in-out, -webkit-text-fill-color .2s ease-in-out;
}

menu .item:hover {
    color: var(--light-orange);
    -webkit-text-fill-color: var(--light-orange);
    cursor: pointer;
}

menu a {
    text-decoration: none;
}