.page {
    position: relative;
    width: 100vw;
    height: fit-content;
}

.content {
    position: relative;
    top: 0;
    left: 15%;
    width: 70%;
    font-family: 'Muli', sans-serif;
    overflow-y: visible;
    height: fit-content;
}

.content h1 {
    font-family: 'heroregular', sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
}

.content h2 {
    font-family: 'heroregular', sans-serif;
    text-transform: uppercase;
    font-size: 3vh;
    text-align: center;
    color: var(--dark-orange);
}

.content text {
    font-family: 'Muli', sans-serif;
    font-size: 2vh;
    text-align: left;
}


.content > img {
    width: 100%;
    height: 40vh;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    -webkit-filter: drop-shadow(0 0px 12px var(--dark-grey));
    filter: drop-shadow(0 0px 12px var(--dark-grey));
}

.team {
    display: grid;
    table-layout: fixed;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

@media (orientation: landscape){
    .team {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (orientation: portrait), only screen and (pointer: coarse) {
    .team {
        grid-template-columns: repeat(1, 1fr);
    }
}

.team .person {
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 3%;
}

.team .person .role {
    font-size: 1.5vh;
}

.team .align-middle{
    align-items: center;
}

.team .person .picture {
    height: auto;
    text-align: center;
}

.picture img {
    width: 12vh !important;
    max-width: 100%;
    margin: auto;
    height: 12vh;
    transform: translate3d(0,0,0);
    -webkit-filter: drop-shadow(0 0px 12px var(--dark-grey));
    filter: drop-shadow(0 0px 12px var(--dark-grey));
}

.picture .fill-white {
    background-color: white;
    padding: 3px;
}

.team .person .text {
    text-align: left;
}

@media (orientation: landscape){
    .team .person .text {
        min-width: 20vw;
        padding-left: 3%;
    }
}

@media (orientation: portrait), only screen and (pointer: coarse) {
    .team .person .text {
        min-width: 40vw;
        padding-left: 3%;
    }
}

.team .person .text .details {
    text-align: left;
    font-size: 1.5vh;
}

.team a {
    text-decoration: none;
}

.products {
    position: relative;
    display: grid;
    gap: 3%;
    width: 100%;
    margin: auto;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}

@media (orientation: landscape){
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (orientation: portrait), only screen and (pointer: coarse) {
    .products {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 10vh;
    }
}

.product {
    display: flex;
    width: 100%;
    padding-top: 10%;
}

.product .overlap {
    position: relative;
    width: 100%;
}

.product img {
    width: 50%;
    height: calc(100vw * .7 * .5 / 3);
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out, filter .3s ease-in-out;
}

@media (orientation: portrait), only screen and (pointer: coarse) {
    .product img {
        width: 100%;
        height: 30vw;
    }

    .product:first-of-type img {
        width: 50%;
        height: 30vw;
    }
}

.product img:nth-of-type(odd) {
    position: relative;
    transform: translate3d(0,0,0);
    -webkit-filter: none;
    filter: none;
}

.product img:nth-of-type(even) {
    position: absolute;
    top: 0;
    left: 25%;
}

@media (orientation: portrait), only screen and (pointer: coarse) {
    .product img:nth-of-type(even) {
        left: 0;
    }
}

.product:first-of-type img:nth-of-type(1){
    position: relative;
    opacity: 0;
    visibility: hidden;
}

.product:first-of-type img:nth-of-type(2){
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.product:first-of-type img:nth-of-type(3){
    position: absolute;
    top:0;
    left: -1vw;
}

.product:first-of-type img:nth-of-type(4){
    position: absolute;
    top:0;
    left: -1vw;
}

.product:first-of-type img:nth-of-type(5){
    position: absolute;
    top:0;
    left: calc(50% + 1vw);
}

.product:first-of-type img:nth-of-type(6){
    position: absolute;
    top:0;
    left: calc(50% + 1vw);
}

.product:hover img:nth-of-type(even) {
    opacity: 0;
}

@media (pointer: coarse) {
    .product img:nth-of-type(even) {
        opacity: 0;
    }
}

.product:hover img:nth-of-type(odd) {
    transform: translate3d(0,-6px,0) scale(1.02);
    -webkit-filter: drop-shadow(0 12px 12px var(--dark-grey));
    filter: drop-shadow(0 12px 12px var(--dark-grey));
}

.product:hover img:nth-of-type(even) {
    transform: translate3d(0,-6px,0) scale(1.02);
}

.product:first-of-type:hover img:nth-of-type(1) {
    transform: translate3d(calc(-50% - 1vw),-6px,0) scale(1.02);
    -webkit-filter: drop-shadow(0 12px 12px var(--dark-grey));
    filter: drop-shadow(0 12px 12px var(--dark-grey));
}

.product .name {
    position: relative;
    width: 100%;
    padding-top: 10%;
    color: var(--dark-grey);
    font-family: 'heroregular', sans-serif;
    font-size: 3vh;
    text-transform: uppercase;
    pointer-events: none;
}

.contacts {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2vw;
    width: 50vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contacts .contact {
    display: flex;
    width: calc(50vw / 4);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact img {
    display: inline-block;
    position: relative;
    width: calc(50vw / 4);
    height: calc(50vw / 4);
    margin: auto;
    -webkit-filter: none;
    filter: none;
    transform: translate3d(0,0,0) scale(1);
    transition: transform .3s ease-in-out, filter .3s ease-in-out;
}

.contact:hover img {
    cursor: pointer;
    transform: translate3d(0,-6px,0) scale(1.02);
    -webkit-filter: drop-shadow(0 12px 12px var(--dark-grey));
    filter: drop-shadow(0 12px 12px var(--dark-grey));
}

.contact:hover {
    color: var(--dark-orange);
}
