.page {
    position: relative;
    // min-height: 100vh;
    width: 100vw;
    height: fit-content;
}

.page .content {
    position: relative;
    top: 0;
    left: 15%;
    width: 70%;
    font-family: 'Muli', sans-serif;
}

.page .content h1 {
    font-family: 'heroregular', sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
}

.page .content text {
    font-family: 'Muli', sans-serif;
    font-size: 2vh;
    text-align: left;
    white-space: pre-line;
}


.content > img {
    width: 100%;
    height: 40vh;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    -webkit-filter: drop-shadow(0 0px 12px var(--dark-grey));
    filter: drop-shadow(0 0px 12px var(--dark-grey));
}

.team {
    display: grid;
    table-layout: fixed;
    width: 100%;
    // margin: 30%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

@media (orientation: landscape){
    .team {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (orientation: portrait){
    .team {
        grid-template-columns: repeat(1, 1fr);
        // padding-bottom: 10vh;
    }
}

.team .person {
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 3%;
}

.team .person .picture {
    // display: table-cell;
    // width: 40%;
    height: auto;
    text-align: center;
}

.picture img {
    width: 12vh !important;
    max-width: 100%;
    margin: auto;
    height: auto;
    -webkit-filter: drop-shadow(0 0px 12px var(--dark-grey));
    filter: drop-shadow(0 0px 12px var(--dark-grey));
}

.team .person .text {
    text-align: left;
}

@media (orientation: landscape){
    .team .person .text {
        min-width: 20vw;
        padding-left: 3%;
    }
}

@media (orientation: portrait){
    .team .person .text {
        min-width: 40vw;
    }
}

.team .person .text .details {
    text-align: left;
    font-size: 1.5vh;
}

.products {
    position: relative;
    display: grid;
    gap: 3%;
    width: 100%;
    margin: auto;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}

@media (orientation: landscape){
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (orientation: portrait){
    .products {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 10vh;
    }
}

.product {
    display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    padding-top: 10%;
}

.product .overlap {
    position: relative;
    width: 100%;
}

.product img {
    height: auto;
    width: 50%;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out, filter .3s ease-in-out;
}

.product img:nth-of-type(odd) {
    position: relative;
    transform: translate3d(0,0,0);
    -webkit-filter: drop-shadow(0 0px 12px var(--dark-grey));
    filter: drop-shadow(0 0px 12px var(--dark-grey));
}

.product img:nth-of-type(even) {
    position: absolute;
    top: 0;
    left: 25%;
}

.product:first-of-type img {
    width: 50%;
}

.product:first-of-type img:nth-of-type(1){
    position: relative;
    opacity: 0;
    visibility: hidden;
}

.product:first-of-type img:nth-of-type(3){
    position: absolute;
    top:0;
    left: -1vw;
}

.product:first-of-type img:nth-of-type(4){
    position: absolute;
    top:0;
    left: -1vw;
}

.product:first-of-type img:nth-of-type(5){
    position: absolute;
    top:0;
    left: calc(50% + 1vw);
}

.product:first-of-type img:nth-of-type(6){
    position: absolute;
    top:0;
    left: calc(50% + 1vw);
}

.product:hover img:nth-of-type(even) {
    opacity: 0;
}

.product:hover img:nth-of-type(odd) {
    transform: translate3d(0,-6px,0) scale(1.02);
    -webkit-filter: drop-shadow(0 12px 12px var(--dark-grey));
    filter: drop-shadow(0 12px 12px var(--dark-grey));
}

.product:hover img:nth-of-type(even) {
    transform: translate3d(0,-6px,0) scale(1.02);
}

.product:first-of-type:hover img:nth-of-type(1) {
    transform: translate3d(calc(-50% - 1vw),-6px,0) scale(1.02);
    -webkit-filter: drop-shadow(0 12px 12px var(--dark-grey));
    filter: drop-shadow(0 12px 12px var(--dark-grey));
}

.product .name {
    position: relative;
    width: 100%;
    padding-top: 10%;
    color: var(--dark-grey);
    font-family: 'heroregular', sans-serif;
    font-size: 3vh;
    text-transform: uppercase;
    pointer-events: none;
    // text-shadow: 0px 0px 8px var(--dark-grey);
}

.contacts {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    width: 100%;
    margin: auto;
    // grid-auto-rows: minmax(100px, auto);
}

.contacts .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: pre-line;
}

.contact img {
    width: 100%;
    -webkit-filter: drop-shadow(0 6px 12px var(--dark-grey));
    filter: drop-shadow(0 6px 12px var(--dark-grey));
    transform: translate3d(0,0,0) scale(1);
    transition: transform .3s ease-in-out, filter .3s ease-in-out;
}

.contact img:hover {
    cursor: pointer;
    transform: translate3d(0,-6px,0) scale(1.02);
    -webkit-filter: drop-shadow(0 12px 12px var(--dark-grey));
    filter: drop-shadow(0 12px 12px var(--dark-grey));
}
