.page {
    position: relative;
    // min-height: 100vh;
    width: 100vw;
    height: fit-content;
}

.page .content {
    position: relative;
    top: 0;
    left: 15%;
    width: 70%;
    font-family: 'Muli', sans-serif;
}

.page .content h1 {
    font-family: 'heroregular', sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
}

.page .content text {
    font-family: 'Muli', sans-serif;
    font-size: 2vh;
    text-align: left;
    white-space: pre-line;
}


.content > img {
    width: 100%;
    height: 40vh;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    -webkit-filter: drop-shadow(2px 0px 12px var(--dark-grey));
    filter: drop-shadow(2px 0px 12px var(--dark-grey));
}

.team {
    display: table;
    table-layout: fixed;
    width: 40%;
    margin: 30%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.team .person {
    display: table-row;
    width: 100%;
}

.team .person .picture {
    display: table-cell;
    width: 40%;
    height: auto;
    vertical-align: middle;
    text-align: center;
}

.picture img {
    width: 90% !important;
    margin: auto;
    height: auto;
}

.team .person .text {
    display: table-cell;
    width: 60%;
    vertical-align: middle;
    text-align: left;
}

.products {
    position: relative;
    display: grid;
    gap: 3%;
    width: 100%;
    margin: auto;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}

@media (orientation: landscape){
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (orientation: portrait){
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}

.product {
    display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    padding-top: 10%;
}

.product .overlap {
    position: relative;
    width: 100%;
}

.product img {
    height: auto;
    width: 50%;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.product img:nth-of-type(odd) {
    position: relative;
    transform: translate3d(0,0,0);
    -webkit-filter: drop-shadow(2px 0px 12px var(--dark-grey));
    filter: drop-shadow(2px 0px 12px var(--dark-grey));
}

.product img:nth-of-type(even) {
    position: absolute;
    top: 0;
    left: 25%;
}

.product:first-of-type img {
    width: 50%;
}

.product:first-of-type img:nth-of-type(1){
    position: relative;
    transform: translateX(calc(-50% - 1vw));
}

.product:first-of-type img:nth-of-type(2){
    position: absolute;
    top:0;
    left: -1vw;
}

.product:first-of-type img:nth-of-type(3){
    position: absolute;
    top:0;
    left: calc(50% + 1vw);
}

.product:first-of-type img:nth-of-type(4){
    position: absolute;
    top:0;
    left: calc(50% + 1vw);
}

.product:hover img:nth-of-type(even) {
    opacity: 0;
}

.product .name {
    position: relative;
    width: 100%;
    padding-top: 10%;
    color: var(--dark-grey);
    font-family: 'heroregular', sans-serif;
    font-size: 3vh;
    text-transform: uppercase;
    pointer-events: none;
    // text-shadow: 0px 0px 8px var(--dark-grey);
}
