:root{
    --flag-width: 30px;
    --flag-height: calc(var(--flag-width) / 3 * 2);
    --flag-vmargin: 5px;
    --text-hmargin: 5px;
}

.chooseLang {
    display: inline-block;
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    height: var(--flag-height);
    margin-top: 0;
    width: var(--flag-width);
}
.chooseLang div {
    height: var(--flag-height);
    position: absolute;
    width: var(--flag-width);
}
.lang {
    cursor: pointer;
    display: block;
    height: var(--flag-height);
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    -webkit-transition: 0.76s;
    -o-transition: 0.76s;
    transition: 0.76s;
    width: var(--flag-width);
    background-size: contain;
}

.it-lang {
    background-image: url('../img/flags/ita.svg');
}
.open .it-lang {
    left: 0;
    top: 0;
    opacity: 1;
}

.en-lang {
    background-image: url('../img/flags/uk.svg');
}
.open .en-lang {
    left: 0;
    top: calc(var(--flag-height) + var(--flag-vmargin));
    opacity: 1;
}

.it-lang::after, .en-lang::after {
    font-size: 18px;
    line-height: var(--flag-height);
    font-family: 'Muli', sans-serif;
    color: white;
    padding-left: calc(var(--flag-width) + var(--text-hmargin));
}

.it-lang::after {
    content: 'IT';
}

.en-lang::after {
    content: 'EN';
}

.chooseLang .chosen {
    opacity: 1;
    z-index: 1;
}
