.ocean {
  position:relative;
  top: 96vh;
  left: 0;
  height: fit;
  width:100vw;
  transform: translateY(-100%);
}

.overflow-hider {
  height: fit-content;
  width:100vw;
  overflow-x: hidden;
}

.wave {
  background-image: url("../img/waves/wavewhite4x.png");
  background-image: image-set("../img/waves/wavewhite4x.webp" type("image/webp"), "../img/waves/wavewhite4x.png" type("image/png"));
  background-repeat: repeat-x;
  background-size: 100vw 6vh;
  position: absolute;
  top: 0;
  width: 300vw;
  height: 6vh;
  animation: wave 73s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  opacity: 1;
  bottom: 0;
  transform: translate3d(0,0,0);
  margin-left: 0;
  -webkit-filter: drop-shadow(0 0 20px var(--dark-grey));
  filter: drop-shadow(0 0 20px var(--dark-grey));
  visibility: visible;
  z-index: 200;
}

.wave:nth-of-type(even) {
  background-image: url("../img/waves/wavedark4x.png");
  background-image: image-set("../img/waves/wavedark4x.webp" type("image/webp"), "../img/waves/wavedark4x.png" type("image/png"));
  background-repeat: repeat-x;
  background-size: 100vw 6vh;
  -webkit-filter: drop-shadow(0 0 20px var(--lighter-grey));
  filter: drop-shadow(0 0 20px var(--lighter-grey));
}

@supports (background-image: image-set("foo.png" type("image/png"))) {
  .wave {
    background-image: url("../img/waves/wavewhite4x.png");
  }
  .wave:nth-of-type(even) {
    background-image: url("../img/waves/wavedark4x.png");
  }
}

.wave:nth-of-type(3), .wave:nth-of-type(4) {
  animation: wave 51s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite, swell 4s ease -1.25s infinite;
  opacity: .4;
  left: 50%;
  margin-left: -13vw;
}

.wave:nth-of-type(5), .wave:nth-of-type(6) {
    animation: wave 27s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -2s infinite, swell 7s ease -5.25s infinite;
    opacity: .6;
    left: 50%;
    margin-left: -77vw;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-6px,0);
  }
  50% {
    transform: translate3d(0,8px,0);
  }
}

.hide-wave {
  opacity: 0 !important;
}